#header-navbar{
	padding: 6px;
}
.nav.navbar-nav>li.active>a, .nav.navbar-nav>li>a:focus, .nav.navbar-nav>li>a:hover{
	color: #2196f3;
}
.page-title{
	padding: 0px 0px 23px;
}
.bg-cover img{
	min-height: 95%;
}
.bag-text{
	padding-top: 7%;
}
