<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]="['/']" class="navbar-brand" id="logo-top">
                <span class="brand-text">
                    <img src="assets/img/pokemon-logo.png" width="110px" height="41px">
                    Pokemon AngularJS Client
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="header-navbar">
		    <ul class="nav navbar-nav navbar-right">
		        <li><a [routerLink]="['/']">POKEMON</a></li>
		        <li><a [routerLink]="['/about-me']">ABOUT ME</a></li>
		    </ul>
		</div>
    </div>
</div>

<div id="page-title" class="page-title has-bg">
    <div class="bg-cover"><img src="assets/img/cover-pokemon.jpg" alt="" /></div>
    <div class="container bag-text">
        <h1>Pokemon V2 AngularJS Client</h1>
        <p>PSL Front-End Test <br/><small>By Daniel Correa</small></p>
    </div>
</div>