<div id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="section-container">
                    <h4 class="footer-title">Options</h4>
                    <ul class="categories">
                        <li><a [routerLink]="['/']">Pokemon</a></li>
                        <li><a [routerLink]="['/about-me']">About Me</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="section-container">
                    <h4 class="footer-title">Components used</h4>
                    <ul class="recent-post">
                        <li>
                            <h4>
                                <a>ola</a>
                                <span class="time">fecha</span>
                            </h4>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="section-container">
                    <h4 class="footer-title">About Daniel Correa</h4>
                    <address>
                        <strong>Universidad del Valle.</strong><br />
                        Software Engineer<br />
                        SOA, Software Development, DevOps<br />
                        P: +57 312 769 34 02<br />
                        <br />
                        <strong>Email</strong><br />
                        <a >danielc.web@gmail.com</a>
                        <a >daniel.correa@correounivalle.edu.co</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer-copyright" class="footer-copyright">
    <div class="container">
        <span class="copyright">&copy; 2016 Daniel Correa</span>
        <ul class="social-media-list">
            <li><a href="https://github.com/danielcb29"><i class="fa fa-github"></i></a></li>
            <li><a href="https://co.linkedin.com/in/danielcb29"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>
